//COLORS

$bg-color: #FDFDFD;

$primary-red: #932828;
$accent-yellow: #F9B233;

$muted-taupe: #E6D8C3;


$color-white: #fff;
$color-black: #000;


//FONTS
$main-heading-font: "Source Sans 3", sans-serif;
$font-primary: 'Poppins', sans-serif;
$font-accent: 'Quicksand', sans-serif;
$font-body: 'Quicksand', sans-serif;

$text-font-color: #555e63;


//PROFILE
$h-primary: #323232;

$h-border: #eee;