@use '../abstracts/variables' as *;



.home__body {

    background-image: url('/images/home-bg-white.png');
    /* replace with your actual image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    /* optional: ensures text is readable */
}

.logo__home {
    max-width: 100%;
    height: auto;
    width: 100%;
    max-width: 32rem;
    margin-bottom: 1.5rem;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.1);

    min-height: 86.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    //padding: 2rem;
}

.overlay p {
    font-family: $font-body;
    color: $color-black;

}

.btn__home {
    height: 44px;
    padding: 0px 30px;
    background-color: $primary-red;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    letter-spacing: 1px;
    border: none;

    box-shadow: 0px 8px 24px 0 rgba(228, 10, 57, .2);
    transition: all .2s linear;

    &:hover {
        background-color: $accent-yellow;
        color: $color-white;
        box-shadow: 0 8px 24px 0 rgba(138, 140, 146, .2);
    }
}



// .btn-secondary,
// .btn-secondary:hover {
//     color: #333;
//     text-shadow: none;
// }