<% layout ('../layouts/boilerplate') %>

    <div class="container d-flex justify-content-center align-items-center mt-2">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card register-card shadow">
                    <img src="/images/login-card.jpg" alt="Register Card Image" class="card-img-top" />
                    <div class="card-body">
                        <!-- <h5 class="card-title">Register</h5> -->
                        <form action="/register" method="POST" id="register-form" class="validated-form" novalidate>
                            <!-- Username -->
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" minlength="4"
                                    required autofocus>

                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <small class="text-muted">At least 4 characters</small>
                            </div>
                            <!-- Email -->
                            <div class="mb-3">
                                <label class="form-label" for="email">Email</label>
                                <input class="form-control" type="email" id="email" name="email" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <!-- Password -->
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password"
                                    pattern="(?=.*\d).{6,}" title="At least 6 characters and include a number" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <small class="text-muted">At least 6 characters and include a number</small>
                            </div>
                            <!-- Register Button -->
                            <button class="btn btn-register btn-block">Register</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>